<article>
    <section >
        <div class="bordesPort">
            <div class="position-relative">
                <div  class="position-absolute top-0 start-0">
                    <!-- img perfil  -->
                    <img [src]="miPorfolio.imgPerfil" alt="fotoPerfil" class="imgPerfil" >    
                </div>
            </div>
            
            <!-- boton edit 1 -->
            <div class="position-absolute">
                <div class="edit1">
                    <button class="btn">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </div>
            </div>
            <!-- titulo -->
            <div class="margenesT">
                <h1>{{miPorfolio.name}}</h1>
                <p>{{miPorfolio.position}}</p>
                <p>{{miPorfolio.ubicacion}}<a href="#" class="enlaceNone"> Información de Contacto</a></p>
            </div>

            <div class="botSection1">
                <!-- botones -->
                <button class="btn btn-success text-white">Tengo interes en</button>
                <button class="btn btn-outline-secondary">Añadir Sección</button>
                <button class="btn btn-outline-dark">Más</button>    
            </div>
        </div>
            
        
    </section>
        
            <!-- acerca de -->
    <section class="about">
            <div class="position-relative">
                <h3>Acerca de mi</h3>
                <p>{{miPorfolio.about}}</p>
            <!-- edit 2 -->
                <div class="position-absolute top-0 end-0">
                    <button class="btn">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </div>
            </div>
        
    </section>
</article>
<!-- end -->

