<div class="container" *ngIf="educacion">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nomEscuela">Editar nombre de la Institución</label>
                    <input type="text" class="form-control" id="nomEscuela" name="nomEscuela" [(ngModel)]="educacion.nomEscuela" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Editar descripción</label>
                    <input type="text" class="form-control"  id="descripcion" name="descripcion" [(ngModel)]="educacion.descripcion" required>
                </div>
                <div class="form-group">
                    <label for="ciudad">Editar ubicación</label>
                    <input type="text" class="form-control" id="ciudad" name="ciudad" [(ngModel)]="educacion.ciudad" required>
                </div>
                <div class="form-group">
                    <label for="fechaInicio"> Inicio de estudios: 
                        <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" min="1990-01-01" max="2022-12-01" [(ngModel)]="educacion.fechaInicio" required/>
                    </label>
                    <label for="fechaFin"> Fin de estudios:
                        <input type="date" class="form-control" id="fechaFin" name="fechaFin" min="1990-01-01" max="2030-12-30" [(ngModel)]="educacion.fechaFin" required/>
                    </label>
                </div>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>
