<!-- Educacion -->
<section >
    <div class="education">
        <h3>Educacion</h3>
        <ul class="list-group ">
            <li *ngFor="let educacion of educacionLista.estudios" class="list-group-item">
                <div class="card mb-3 " style="max-width: 100%;">
                    <div class="row g-0 d-flex bd-highlight mb-3">
                        <div class="col-md-4 p-2 bd-highlight">
                            <!-- imagen para educacion -->
                            <img [src]="'../assets/img/birrete.png'" class="imgSchool " alt="birrete">
                        </div>
                        <div class="col-md-10 p-2 bd-highlight">
                            <div class="card-body">
                                <h5 class="card-title">{{educacion.school}}</h5>
                                <p class="card-text">{{educacion.title}}</p>
                                <p class="card-text"><small class="text-muted"><time>{{educacion.start}}</time> - <time>{{educacion.end}}</time></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
        </ul>
        
    </div>
    

</section>


<!-- <li>
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Facultad de Ciencias Exactas y Tecnologias UNSE</h5>
                                <p class="card-text">Programador Universitario en Informatica</p>
                                <p class="card-text"><small class="text-muted"><time>2021</time> - <time>2023</time></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li> -->