<!-- Proyectos -->
<section class="proj">
    <div class="position-relative">
        <div class="container">
            <!-- tabla -->
            <div class="row">
                <div class="col-8">
                    <h3>Proyectos</h3>
                </div>
                <!-- boton de agregacion -->
                <div class="col-4 d-grid gap-2 d-md-flex justify-content-md-end"> 
                    <button class="btn btn-plus">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <!-- fin de boton -->                
            </div>
            <!-- fin tabla -->
        </div>   
    </div>
    
    <!-- lista de proyectos  -->
        <ul class="list-group ">
            <!-- Inicio 1 -->
            <li class="list-group-item">
                <!-- botones de edicion -->
                <div class="position-absolute top-0 end-0">
                    <!-- boton edit 3 -->
                    <button class="btn">
                        <i class="fa-solid fa-pen"></i>    
                    </button>
                    <!-- boton de eliminar -->
                    <button class="btn">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
                <!-- fin de botones -->

                <!-- Tabla -->
                <!-- filas -->
                <div class="row">
                    <!-- columnas -->
                    <div class="contenedor">
                        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                            <h4 class="card-title">{{miProyecto.titulo1}}</h4>
                            <p class="card-text">{{miProyecto.descripcion1}}</p>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                            <!-- imagen para proyecto -->
                            <img [src]="'../assets/img/calcu.jpg'" class="img-fluid img-proyecto" alt="">
                        </div>
                    </div>
                    <!-- fin de columnas -->
                </div>
                <!-- fin de filas -->
                <!-- fin de tabla -->
            </li>
            <!-- Fin lista -->
            <!-- inicio 2 -->
            <li class="list-group-item">
                <!-- botones de edicion -->
                <div class="position-absolute top-0 end-0">
                    <!-- boton edit 3 -->
                    <button class="btn">
                        <i class="fa-solid fa-pen"></i>    
                    </button>
                    <!-- boton de eliminar -->
                    <button class="btn">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
                <!-- fin de botones -->
                <!-- Tabla -->
                <!-- filas -->
                <div class="row">
                    <!-- columnas -->
                    <div class="contenedor">
                        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                            <h4 class="card-title">{{miProyecto.titulo2}}</h4>
                            <p class="card-text">{{miProyecto.descripcion2}}</p>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                            <!-- imagen para proyecto -->
                            <img [src]="'../assets/img/portfolio.png'" class="img-fluid img-proyecto" alt="">
                        </div>
                    </div>
                    <!-- fin de columnas -->
                </div>
                <!-- fin de filas -->
                <!-- fin de tabla -->
            </li>
            <!-- Fin  -->
        </ul>
        <!-- Fin de lista -->
    
</section>
