<!-- falta terminar skills -->
<section class="styleHS">
    <div class="position-relative">
        <div class="container">
            <!-- tabla para botones -->
            <div class="row">
                <div class="col-8">
                    <h3>Hard Skills & Soft Skills</h3>
                </div>
                <!-- boton de agregacion -->
                <div class="col-4 d-grid gap-2 d-md-flex justify-content-md-end"> 
                    <!-- nuevaskill es la ruta-->
                    <button routerLink="/nuevaskill" class="btn btn-plus" *ngIf="isLogged">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <!-- fin de boton -->                    
            </div>
        </div>
        <!-- tabla -->
        <div class="row">
                <!-- columna -->
            <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let skill of skill">              
                <!-- start circle -->
                <circle-progress
                [percent]="(skill.porcentaje)"
                [radius]="100"
                [imageSrc]="'../assets/img/html.png'"
                [showImage]="false"
                [imageHeight]="100"
                [imageWidth]="100"
                [showUnits]="false"
                [title]="(skill.nombre)"
                [showTitle]="true"
                [titleFontSize]="'2em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#000000'"
                [innerStrokeColor]="'#c9c9c9'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
            <!-- end circle -->
            <!-- botones de edicion -->
                <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-end">
                    
                    <td *ngIf="isLogged">
                    <!-- boton edit 3 -->
                        <button class="btn" routerLink="/edithys/{{skill.id}}">
                            <i class="fa-solid fa-pen"></i>    
                        </button>
                    </td>
                    <td *ngIf="isLogged">
                        <!-- boton de eliminar -->
                        <button class="btn" (click)="delete(skill.id)">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>     
                </div>                    
            </div>
        </div>
        <!-- fin tabla -->
        
    </div>    
</section>
