h3 {
    margin: 15px 10px 15px 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.styleHS {
    border-radius: 45px 45px 45px 45px;
    border: solid 1px rgb(201, 203, 204);
    margin: 15px;
    padding: 20px;
}
