#menuToggle {
    opacity: 0;    
}
#menuToggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menuToggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menuToggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menuToggle:checked ~ .menu__box {
    right: 0 !important;
}

.menu__btn{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    margin-bottom: 10px;
    margin-right: 15px;
    padding-top: 13px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: grey;
    transition-duration: .25s;
    
}

.menu__btn > span::before{
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 150px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #222222;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 5px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: rgb(89, 92, 90);
}

