<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6" style="background-color: #3a748e;">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="../../../assets/img/dev.jpg" class="img-fluid dev" alt="logo">
                  <h1 class="mt-5 mb-5 pb-1">Bienvenido</h1>
                </div>

                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                  <div class="form-outline mb-4">
                    <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" [(ngModel)]="nombreUsuario" requerid
                      placeholder="Correo electronico o usuario"/>
                    <label class="form-label" for="nombreUsuario">Usuario</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" requerid/>
                    <label class="form-label" for="password">Contraseña</label>
                  </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                      <label class="form-check-label" for="form2Example3">
                        Recordar me
                      </label>
                    </div>
                    <a href="#!" class="enlaceNone" style="color:black">¿Olvido su contraseña?</a>
                  </div>

                  <div class="text-center pt-1 mt-5 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 button-71" role="button" type="submit">Iniciar sesión</button>
                      <br>

                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">¿No tiene una cuenta?</p>
                    <button type="button" class="btn btn-outline-dark">Crea una</button>
                    
                  </div>

                </form>

              </div>
            </div>
            <!-- Imagen para la segunda columna -->
            <div class="col-lg-6 d-flex align-items-center imgF">
              <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>